<div class="e-mail-block">
    <div class="e-mail">
    <h4>ONTVANG ONZE NIEUWSBRIEF</h4>
    <form>
        <input type="text" placeholder="je e-mailadres">
        <button>VERSTUUR</button>
    </form>
</div>
</div>