<form action="" class="filter-grid">
  <div class="filter-column">
    <div class="filter-title">Filter</div>
    <button class="filter-reset">Reset</button>
  </div>
  <div class="filter-column">
    <label class="filter-value">
      <input type="checkbox" checked id="motorboat" name="motorboat">
      Motorboot
    </label>
    <label class="filter-value">
      <input type="checkbox" id="nonmotorboat" name="nonmotoboat">
      Zeilen
    </label>
  </div>
  <div class="filter-column">
    <label class="filter-value">
      <input type="checkbox" id="adult">
      Valwassen
    </label>
    <label class="filter-value">
      <input type="checkbox" id="kids">
      Kind
    </label>
  </div>
  <div class="filter-column">
    <div class="filter-value">
      <label for="person">Personen</label>
      <div class="select">
        <select id="person">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    <div class="filter-value">
      <label for="level">Ervaring</label>
      <div class="select">
        <select id="level">
          <option value="1">Beginner</option>
          <option value="2">Sarge</option>
          <option value="3">Hurt me plenty</option>
        </select>
      </div>
    </div>
  </div>
</form>