<div class="container">
    <div class="breadcrumbs">
        >
        <a href="/">Home</a>
        >
        <p>
            {% if page.title %}
                {{ page.title }}
            {% elsif collection.title %}
                {{ collection.title }}
            {% endif %}
        </p>
    </div>
</div>