{{ 'weather-section.css' | asset_url | stylesheet_tag }}
<style>
    .weather-section__button-inner .btn__lg {
        background-color: {{ section.settings.button-color }};
    }

    .weather-section__button-inner .btn__lg:hover{
        background-color: {{ section.settings.button-color-hover }};
    }
</style>
<div class="weather-section">
  <div class="container">
    <div class="row">
        <div class="weather-section__button">
            <div class="weather-section__button-inner">
                <a href="#" class="btn__lg">Boek nu</a>
            </div>
        </div>
        <div class="weather-section__info">
            {% render 'filter' %}
        </div>
        <div class="weather-section__data"></div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Add your text",
    "settings": [
        {
            "type": "text",
            "id": "btn-text",
            "label": "Button text",
            "default": "Boek nu"
        },
        {
            "type": "url",
            "id": "btn-url",
            "label": "Button url",
            "default": "#"
        },
        {
            "type": "color",
            "id": "button-color",
            "label": "Change the button color"
        },
        {
            "type": "color",
            "id": "button-color-hover",
            "label": "Change the button hover color"
        }
        ],
    "presets": [
    ]
}
{% endschema %}
