<div class="container">
<div class="info-section">
    <div class="row">
        <div>
            <h3 class="info-section__title">Onderdeel</h3>
            <h3 class="info-section__title">Slapen</h3>
        </div>
        <div class="info-section__text">
            <p>Hut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint</p>
            <div class="info-section__text-inner">
                {{ 'info-section-img.png' | asset_url | img_tag }}
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="info-section__title">Meer informatie</h3>
        <div class="info-section__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint</p>
        </div>
    </div>
  </div>
</div>
