{{ 'article-agenda.css' | asset_url | stylesheet_tag }}
<div class="weather-section">
  <div class="container">
    <div class="agenda-post__nav">
      <div class="weather-section__button-inner">
        <a href="#" class="btn__lg">Boek nu</a>
      </div>
      <div class="breadcrumbs">
        >
        <a href="/">Home</a>
        >
        <a href="/pages/agenda">Agenda</a>
        >
        <p>15 april, Standup paddle</p>
      </div>
    </div>
    <div class="agenda-post__text">
      <div class="agenda-post__block">
        <div class="agenda-post__sm-title">
          <h2>15 april</h2>
        </div>
        <h2>STANDUP PADDLE CLINIC VOOR VOLWASSENEN</h2>
      </div>
      <div class="agenda-post__block">
        <div class="agenda-post__sm-title">
          <h3>2022</h3>
        </div>
        <p>Wil je weten wat een Stanup paddle inhoudt? Daar gaat ie: Van april tot oktober kun je bij ons zeilen, dat kan een dag, een paar dagen zijn of langer. Je bent dan in een groep van X kinderen van dezelfde leeftijd. Er is altijd een instructeur bij jullie. Etcetera etcetera. Gaat iets over het ontbijt en de lunch, welke kleding, hoe laat aanwezig, mogen de ouders kijken? Hoe laat ongeveer ophalen, etc etcetera etcetera</p>
      </div>
      <div class="agenda-post__block">
        <div class="agenda-post__sm-title">
          <h3>Onderdeel</h3>
        </div>
        <div>
          <p>Voor de kinderen van 7 tot 12 jaar kan je kennismaken door een halve of hele dag te leren varen in een optimist. De Optimist is een toegankelijke jeugdboot voor de zeiler t/m 12 jaar. Door het kleine formaat is het voor de jonge zeiler een perfecte boot om mee overweg te kunnen. Onder leiding van een enthousiaste instructeur ga je de eerste beginselen van het zeilen leren. Dit zal afgewisseld worden door leuke spellen op een eiland.</p>
          {{ 'product-img-1.png' | asset_url | img_tag }}
        </div>
      </div>
      <div class="agenda-post__block">
        <div class="agenda-post__sm-title">
          <h3>Meer informatie</h3>
        </div>
        <p>Blijf je gezellig slapen, doe je ook met het avondprogramma mee of ben je alleen overdag bij ons? Bekijk hier uit welke verblijfstypes je kunt kiezen.</p>
      </div>
    </div>
  </div>
</div>