{{ 'bruiloft.css' | asset_url | stylesheet_tag }}
<div class="bruiloft">
    <div class="container">
        <div class="breadcrumbs">
            >
            <a href="/">Home</a>
            >
            <a href="/pages/events">Events</a>
            >
            <p>{{ page.title }}</p>
        </div>
        <div class="bruiloft__title">
            <h2 >ONZE BRUILOFTEN ZIJN EEN SPETTERENDE BELEVING</h2>
        </div>
        <div class="bruiloft__info">
            <div class="bruiloft__block">
                <h4>Slaapzaal</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.</p>
            </div>
            <div class="bruiloft__block">
                <h4>Slapen</h4>
                <p>Voor de kinderen van 7 tot 12 jaar kan je kennismaken door een halve of hele dag te leren varen in een optimist. De Optimist is een toegankelijke jeugdboot voor de zeiler t/m 12 jaar. Door het kleine formaat is het voor de jonge zeiler een perfecte boot om mee overweg te kunnen. Onder leiding van een enthousiaste instructeur ga je de eerste beginselen van het zeilen leren. Dit zal afgewisseld worden door leuke spellen op een eiland.</p>
            </div>
            <div class="bruiloft__block">
                <h4>Bemanning</h4>
                <div>
                    {{'product-img-1.png' | asset_url | img_tag }}
                    <p>Blijf je gezellig slapen, doe je ook met het avondprogramma mee of ben je alleen overdag bij ons? Bekijk hier uit welke verblijfstypes je kunt kiezen.</p>
                    <p>Paklijst: Ik ga zeilen en neem mee… </p>
                </div>
            </div>
            <div class="bruiloft__block">
                <h4>Meer informatie</h4>
                <p>Dieetwensen: Heb je een voedselallergie of ben je vegetariër? Geef het bij het inschrijven door! Dan maken wij aangepaste maaltijden voor je klaar. tekst volgt.</p>
            </div>
        </div>
    </div>
</div>