.agenda-post-start-section{
    height: 636px;
    background-color: gray;
    position: relative;
}

.start-section__title{
    bottom: 66px;
}

.start-section__title h1{
    white-space: nowrap;
    font-size: 130px;
}

.agenda-post__nav{
    display: flex;
}

.weather-section__button-inner{
    flex:  0 0 21%;
    max-width: 21%;
    padding-top: 40px;
}

.weather-section__button-inner a{
    display: block;
    background: #6C9DB7 0% 0% no-repeat padding-box;
    border-radius: 0px 100px 100px 100px;
    text-align: left;
    font: normal normal bold 41px/37px 'Roboto Condensed', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    height: 109px;
    line-height: 109px;
    width: 263px;
    padding-left: 54px;
    transition: .3s all ease-in-out;
}

.main.weather-section__button-inner a{
    background-color: #98BA7F ;
}

.weather-section__button-inner a:hover{
    background-color: #3c5969;
    transition: .3s all ease-in-out;
}

.weather-section{ 
    padding-top: 40px;
}

.agenda-post__text{
    padding-top: 42px;
}

.agenda-post__block{
    display: flex;
    padding-bottom: 40px;
}

.agenda-post__sm-title{
    flex: 0 0 21%;
    max-width: 21%;
    padding-right: 26px;
    display: flex;
    justify-content: end;
}

.agenda-post__block p{
    max-width: 1056px;
    font-family: Roboto Condensed;
    color: #818080;
    font-weight: 400;
    font-size: 30px;
}

.agenda-post__block h2{
    font-family: Scarlet;
    font-size: 60px;
    color: #707070;
    text-transform: uppercase;
}

.agenda-post__block>h2{
    max-width: 900px;
}

.agenda-post__block>div:last-child{
    max-width: 1056px;
}

.agenda-post__sm-title h2{
    max-width: 200px;
    text-align: right;
}

.agenda-post__sm-title h3, .agenda-post__sm-title h3 p{
    font-family: Scarlet;
    font-size: 30px;
    color: #707070;
    text-align: right;
}

.agenda-post__img-block{
    display: flex;
    margin-top: 20px;
}

.agenda-post__img-block>div{
    max-width: 480px;
    width: 100%;
    margin-right: 20px;
}

.agenda-post__block img{
    width: 100%;
    max-height: 480px;
    object-fit: cover;
    
}

.e-mail-block{
    padding-top: 43px;
    border-top: 1px solid #707070;
}

.start-section__title{
    padding: 0;
}

.breadcrumbs{
    padding-left: 0;
}

@media (max-width: 1150px) {
    .start-section__title h1{
        font-size: 80px;
    }
}

@media (max-width: 880px) {
    .agenda-post__block{
        flex-direction: column;
    }

    .start-section__title h1{
        font-size: 60px;
    }

    .start-section__title{
        bottom: 20px;
    }

    .agenda-post-start-section{
        height: 400px;
    }

    .agenda-post__text{
        padding-left: 34px;
        padding-right: 20px;
    }

    .weather-section__button-inner{
        padding-left: 34px;
        
    }

    .agenda-post__sm-title{
        justify-content: start;
        padding-bottom: 10px;
    }

    .agenda-post__sm-title h3{
        text-align: left;
    }

    .agenda-post__block h2{
        font-size: 35px;
    }

    .agenda-post__block {
        padding-bottom: 20px;
    }

    .agenda-post__sm-title{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 550px) {
    .start-section__title h1{
        font-size: 46px;
    }

    .weather-section__button-inner a{
        width: 116px !important;
        height: 49px;
        font-size: 20px;
        line-height: 49px;
        padding-left: 20px;

    }

    .weather-section__button-inner {
        padding-top: 0;
    }

    .agenda-post__block h2, .agenda-post__sm-title h3 {
        font-size: 25px;
    }
    
    .agenda-post__block p{
        font-size: 18px;
    }
}

@media (max-width: 410px){
    .start-section__title h1{
        font-size: 35px;
    }
}