body {
  font-family: 'Roboto Condensed';
}

.font-scarlet {
  font-family: 'Scarlet';
}

.weather-section__data {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: var(--unnamed-color-818080);
  list-style: initial;
  padding-bottom: 10px;
}

.weather-section__day{
  margin-bottom: 24px;
}

.weather-section__day-title {
  white-space: nowrap;
}

.weather-section__data {
  padding: 0 54px 0 20px;

}

.weather-section__day, .weather-section__morning, .weather-section__wind, .weather-section__wind-image {
  display:flex;
  gap: 14px;
  align-items: center;
}

.weather-section__wind, .weather-sectoin__clouds {
  flex-basis: 33%;
}

.weather-section__clouds > * {
  display: none;
}

.weather-section__clouds .active {
  display: block;
}

.weather-section__wind-compass {
  /* position:relative; */
  background-image: url('./weather-compass.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 39px;
  width: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.weather-section__wind-arrow {
  display: inline;
  scale: 0.9;
}

.news-block__post:first-child>div>a:last-child {
  max-width: unset;
}

@media (max-width:600px) {
  .weather-section__day, .weather-section__morning {
    scale: 0.65;
  }
  .weather-section__data {
    padding: 0;
  }
}


.header__menu .header__nav-item span, .header__menu .header__nav-subitem span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 200ms ease-in-out;
}

.header__menu .header__nav-item:hover span, .header__menu .header__nav-subitem:hover span {
  filter: brightness(0.7);
  transition: all 200ms ease-in-out;
}

.header__menu>nav>li:nth-child(2) {
  background-color: unset !important;
  border-radius: unset !important;
  width: fit-content;
}

/* CHALLENGE SECTION */

main:has(.shopify-challenge__container) {
  background-color: antiquewhite;
}

.shopify-challenge__container {
  max-width: 500px;
  margin: 0 auto;
  min-height: 700px;
  display: flex;
  align-items: center;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.shopify-challenge__button {
  font-size: 26px;
  font-weight: 700;
  background-color: #707070;
  color: #FFFFFF;
  border-radius: 0 25px 25px 25px;
  padding: 6px 17px 9px 17px;
  transition: .3s all ease-in-out;
  border: 1px solid #818080;
  cursor: pointer;
}

.shopify-challenge__button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #707070;
  transition: .3s all ease-in-out;
}

.shopify-challenge__container .g-recaptcha {
  margin-bottom:32px;
}

.newsletter__wrapper {
    font: 700 24px Roboto Condensed,sans-serif;
    color: #6E9DB6;
    padding-bottom: 12px;
    position: relative;
}

.newsletter__wrapper h4{
  padding-bottom: 10px;
}

.newsletter__wrapper form {
  display: flex;
  align-items: end;
}

.newsletter__wrapper form p {
  font-size: 30px;
  line-height: 50px;
  color: #818080;
  padding-right: 27px;
}

.field{
  display: flex;
}

.newsletter-form__field-wrapper{
  width: 100%;
}

.newsletter__wrapper form input, .newsletter__wrapper form input::placeholder{
  color: #818080;
}

.newsletter__wrapper form input {
  height: 41px;
  border-radius: 25px;
  padding-left: 20px;
  font-size: 18px;
  margin-right: 18px;
  border: 1px solid #818080;
  max-width: 290px;
}

.newsletter__wrapper form input:focus{
  outline: none;
}

.newsletter__wrapper button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #707070;
    transition: .3s all ease-in-out;
}

.newsletter__wrapper button {
  font: 700 18px Roboto Condensed,sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: #707070;
  color: #FFFFFF;
  border-radius: 0 25px 25px 25px;
  padding: 6px 17px 9px 17px;
  transition: .3s all ease-in-out;
  border: 1px solid #818080;
}

.newsletter__wrapper {
  max-width: calc(100% - 150px);
  padding-top: 20px;
}

.filter-grid {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  margin: 20px 0 40px 25%;
  gap: 20px;
  color: #818080;
  font-size: 16px;
}

.filter-grid.product-filter{
  display: flex;
}

.filter-grid .filter-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}

.filter-grid .filter-column .filter-value {
  display: flex;
  gap: 8px;
  min-height: 30px;
  align-items: center;
}

.filter-grid .filter-column:last-child{
  justify-content: end;
}

.filter__apply-button{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -100%;
}

.filter__apply-button.active{
  transition: .5s ease;
  position: static;
  visibility: visible;
  opacity: 1;
}

.filter-grid .filter-column:last-child label{
  display: inline-block;
  max-width: 65px;
  width: 100%;
}

.filter-grid button {
  background: #818080;
  color: white;
  border: none;
  font-size: 14px;
  font-family: Roboto Condensed,sans-serif;
  padding: 4px 16px;
  cursor: pointer;
  border: 1px solid #818080;
  transition: .2s ease-in-out;
  margin-bottom:3px;
}

.filter-grid button:hover {
  background: white;
  border: 1px solid #818080;
  color: #818080;
  
}

.filter-grid .filter-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

.filter-grid .filter-column .filter-value input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 0;

  font: inherit;
  color: #818080;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #818080;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

.filter-grid .filter-column .filter-value input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #818080;
  background-color: CanvasText;
}

.filter-grid .filter-column .filter-value input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.filter-grid .filter-column .filter-value select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  color: #818080;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.filter-grid .filter-column .filter-value select option {
  color:#818080;
}

.filter-grid .filter-column .filter-value select::-ms-expand {
  display: none;
}

.filter-grid .filter-column .filter-value .select {
  border: 1px solid #818080;
  padding: 2px 10px;
  margin-top: -6px;
  width: 100%;
  color: #818080;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

.filter-grid .filter-column .filter-value .select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #818080;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

.filter-grid .filter-column .filter-value select,
.select:after {
  grid-area: select;
}

.collection .filter-grid{
  margin: 0;
}




.instagram-grid-container{
  max-width: fit-content !important;
  gap: 2px;
}



#shopify-section-main-kopje-section .kopje-section{
  max-width: 1920px;
  margin: 0 auto;
}

#shopify-section-main-kopje-section .kopje-section .filter-grid{
  margin: 20px 0 20px 25%;
}

.agenda-detail-description__inner p {
  padding-bottom: 1.5rem;
}

.filter__checkbox {
  display: flex;
  gap: 8px;
  min-height: 30px;
  align-items: flex-start;
}

.filter__checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 0;

  font: inherit;
  color: #818080;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid #818080;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

.filter__checkbox input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #818080;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

.filter__checkbox input[type="checkbox"]:hover{
  cursor: pointer;
}

.filter__checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.filter__checkbox input[type="checkbox"]:disabled{
  background-color: #818080;
}

.filter__checkbox input[type="checkbox"]:disabled:hover, select:disabled:hover{
  cursor: not-allowed;
}

.filter-value:last-child label{
  width: 96px;
}

.filter-grid a {
  background: #818080;
  display: block;
  color: white;
  border: none;
  font-size: 20px;
  font-family: Roboto Condensed,sans-serif;
  padding: 6px 16px;
  cursor: pointer;
  border: 1px solid #818080;
  transition: .2s ease-in-out;
  margin-bottom:3px;
  text-decoration: none;
}

.filter-grid a:hover {
  background: white;
  border: 1px solid #818080;
  color: #818080;
  
}


/* !!! HIDDEN CHECKBOXES !!! */

.collection .filter-column:nth-child(4), .collection .filter-column:nth-child(5){
  display: none;
} 


@media (max-width: 960px) {
  .instagram-grid-container li.ingtagram-grid-item{
    height: fit-content !important;
  }

  .instagram-grid-container{
    overflow: hidden;
  }

  #shopify-section-main-kopje-section .kopje-section .filter-grid{
    margin: 20px auto 40px;
  }
}

@media (min-width: 1300px) {

  .insta-block__images {
    gap: 2px;
  }
  .insta-block__images a {
    overflow: hidden;
  }
}


@media (max-width: 768px) {
  .filter-grid{
      display: none;
  }

  .weather-section__day{
    margin-bottom: 20px;
  }

  .newsletter__wrapper form input{
    height: 30px;
    font-size: 16px;
  }

  .newsletter__wrapper button{
    padding: 4px 7px 5px 10px;
    font-size: 16px;
    max-width: 92px;
  }

  .field{
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

@media (max-width: 350px) {
  .weather-section__day, .weather-section__morning, .weather-section__wind, .weather-section__wind-image{
    gap: 7px
  }
}

