.footer{
    width: 100%;
    background: #98BA7F 0% 0% no-repeat padding-box;
}

.footer__logo{
    flex: 0 0 21%;
    max-width: 21%;
}

.footer__inner{
    padding-top: 34px;
    flex: 0 0 79%;
    max-width: 79%;

}

.header__logo-icon-footer{
    display: block;
    max-width: 188px;
    height: fit-content;
}

.footer nav{
    list-style: none;
}

.footer__header::after{
    content: '';
    display: block;
    background-color: #FFFFFF;
    height: 1px;
    width: 100%;
    margin-top: 14px;
    margin-left: -4px;
}

.footer__main{
    padding-top: 23px;
}

.footer__main .row{
    max-width: 1174px;
    justify-content: space-between;
}

.footer__header li{
    text-align: left;
    font: normal 400 normal 16px 'Roboto Condensed' , sans-serif;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 15px;

}

.footer__header li::after{
    content: '|';
    padding-left: 10px;
}

.footer__header li:last-child::after{
    content: '';
}

.footer__main-col>nav>li>a{
    text-align: left;
    font: normal normal 300 16px 'Roboto Condensed', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 1.5;
}

.footer__main-col>nav>li>a:hover{
    text-decoration: underline;
}

.footer__main-col>nav>li:first-child>a{
    font-weight: 700;
    text-transform: uppercase;
}

.footer__footer{
    padding-top: 24px;
    padding-bottom: 26px;
}

.footer__footer a{
    font: normal 100 14px 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
}

.footer__footer li::after{
    content: '/';
    font: normal 100 25px 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    padding-right: 10px;
}

.footer__footer li:last-child:after{
    content: '';
}

.footer__footer a:hover{
    text-decoration: underline;
}

.footer-main__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-main__buttons a{
    text-align: center;
    font: normal normal 300 24px/23px Roboto Condensed;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    background: #7D9A67 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: 199px;
    height: 64px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-main__logos{
    padding-top: 16px;
    display: flex;
    max-width: 1392px;
    justify-content: space-between;
}

.footer-main__logos img{
    width: 13%;
    aspect-ratio: 3/2;
    object-fit: contain;
}



@media(max-width: 1600px){
    .footer__logo-inner g{
        display: none;
    }
}

@media (max-width: 1500px) {
    .footer__main .row{
        margin-right: 20px;
    }
}

@media(max-width: 1300px) {
    .footer__logo{
        display: none;
    }

    .footer__inner {
        flex: 0 0 100%;
        max-width: 100%;
    }    

    .footer__header::after{
        width: 100%;
    }

    .footer__header .row{
        justify-content: center;
    }

    .footer__main .row, .footer__footer .row{
        max-width: 100%;
        justify-content: space-around;
    }

    .footer-main__logos{
        justify-content: space-around; 
        flex-wrap: wrap;
    }

    .footer__header::after{
        margin: 0;
    }

    .social-block__inst-facebook{
        padding-top: 0;
    }

    .footer__main .row{
        margin-right: 0;
    }
}

@media(max-width:600px) {
    .footer{
        background-color: var(--unnamed-color-6a8456);
        padding: 0 10px 0 10px;
    }    

    .footer__header .row{
        justify-content: start;
        max-width: 450px;
    }

    .footer__header::after{
        display: none;
    }

    .footer__header li{
        font-size: 18px;
        letter-spacing: 0;
    }

    .footer__header li:nth-child(2)::after{
        content: '';
    }

    .footer__main .row{
        display: none;
    }

    .footer__footer li{
        display: none;
    }

    .footer__footer li:first-child{
        display: block;
    }

    .footer__footer li:first-child>a{
        font-size: 18px;
    }

    .footer__footer li:first-child::after{
        content: '';
    }

    .footer__inner{
        padding-top: 23px;
    }

    .footer-main__logos img{
        width: 33%;
    }

    .footer-main__logos img:nth-child(5){
        order: 5;
    }
}