/* GALLERY SECTION */

.kopje-title{
    padding-left: 54px;
}

.kopje__photo-item{
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    display: block;
    transition: .5s all ease-in-out;
}

.kopje__photo-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kopje__photo-item h4{
    position: absolute;
    bottom: 0;
    font: normal normal bold 34px/45px 'Roboto Condensed', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 225px;
    height: 50px;
    line-height: 50px;
    z-index: 5;
    transition: .5s all ease-in-out;
    overflow: hidden;
  
} 

.kopje__title-right{
    right: 0;
    border-radius: 0px 0px 0px 40px;
    text-align: right;
    padding-right: 15px;
}

.kopje__title-left{
    left: 0;
    border-radius: 0px 0px 40px 0px;
    text-align: left;
    padding-left: 15px;
}

.kopje__title-1{
    background: #6C9DB7 0% 0% no-repeat padding-box;
}

.kopje__title-2{
    background: #396D84 0% 0% no-repeat padding-box;
}

.kopje__title-3{
    background: #98BA7F 0% 0% no-repeat padding-box;
}

.kopje__title-4{
    background: #6a8456;
}

.kopje__title-5{
    background: #C65F50 0% 0% no-repeat padding-box;
}

.kopje__title-6{
    background: #984539 0% 0% no-repeat padding-box;
}

.kopje__title-7{
    background: #F3C867 0% 0% no-repeat padding-box;
}

.kopje__title-8{
    background: #BC953C 0% 0% no-repeat padding-box;
}

.kopje__hover-item{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    visibility: hidden;
    opacity: 0;
    transition: .5s all ease-in-out;
}

.kopje__hover-item ul{
    padding: 0 15px 0 15px;
}

.kopje__hover-item li ul li::before{
    content: '• ';
}

.kopje__hover-item>div{
    height: 100%;
    width: 100%;
    padding-top: 31%;
    padding-left: 56px;
}

.kopje__hover-item h6{
    text-align: left;
    font: normal normal normal 30px/38px Roboto Condensed;
    letter-spacing: 0px;
    color: #818080;
}

.kopje__hover-item li{
    font: normal normal normal 22px/32px Roboto Condensed;
    letter-spacing: 0px;
    color: #5D5D5D;
    overflow-wrap: anywhere;
}

.kopje__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.kopje__photo-item:hover .kopje__title-right{
    bottom: 75%;
    transition: .5s all ease-in-out;
}

.kopje__photo-item:hover .kopje__title-left{
    bottom: 75%;
    transition: .5s all ease-in-out;
}

.kopje__photo-item:hover .kopje__link{
    display: block;
}


.kopje__photo-item:hover .kopje__hover-item{
    visibility: visible;
    opacity: 1;
    transition: .5s all ease-in-out;
}

.pages .kopje__photo-item h4, .zeilschool-page .kopje__photo-item h4{
    width: 336px;
}

.pages .kopje-section .row:nth-child(3), .zeilschool-page .kopje-section .row:nth-child(3){
    padding-bottom: 50px;
}

.zeilschool-page .kopje__title-left{
    padding-right: 23px;
}

.zeilschool-page .kopje__title-right{
    padding-left: 23px;
}

.slapen-page .kopje-section .row:last-child, .slapen-page .kopje-section h2:nth-child(4), .b-b-page .kopje-section .row:last-child, .b-b-page .kopje-section h2:nth-child(4){
    display: none;
}

@media (max-width: 1400px) {
    .kopje__photo-item h4, .zeilschool-page .kopje__photo-item h4, .pages .kopje__photo-item h4{
        width: calc(100% - 34px);
        font-size: 22px;
    }
}
    
@media(max-width: 1340px){
    .kopje__hover-item li {
        font-size: 16px;
        line-height: 1.3;
    }
}

@media(max-width: 956px){
    .kopje-title{
        display: none;
    }

    .kopje-section .row:nth-child(2) {
        padding-bottom: 0 !important;
    }

    .kopje__photo-item{
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: -12px;
    }

    .kopje__photo-item h4, .zeilschool-page .kopje__photo-item h4, .pages .kopje__photo-item h4{
        width: 75%;
        font-size: 30px;
    }

    .kopje__photo-item:hover .kopje__title-left {
        bottom: 75%;
    }

    .kopje__photo-item-bot-0 h4{
        bottom: 0;
    }

}

@media(max-width: 768px){
    
    .kopje__photo-item h4, .zeilschool-page .kopje__photo-item h4, .pages .kopje__photo-item h4{
        width: calc(100% - 34px);
        font-size: 22px;
    }
}

@media(max-width: 450px){
    .kopje__photo-item h4{
        font-size: 18px;
        height: 40px;
        line-height: 40px;
    }

    .kopje__photo-item h4, .zeilschool-page .kopje__photo-item h4, .pages .kopje__photo-item h4{
        width: 90%;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }
   
}