
/* info section */

.info-section{
    padding-top: 52px;
    padding-bottom: 88px;
    max-width: 1144px;
    margin: 0 auto;
}

.info-section__title{
    flex: 0 0 27%;
    max-width: 27%;
    color: var(--unnamed-color-707070);
    font-family: Scarlet;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 24px;
}

.info-section__text{
    flex: 0 0 73%;
    max-width: 73%;
}

.info-section__text-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info-section__text-inner img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.info-section__text p{
    color: var(--unnamed-color-818080);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.info-section>.row:first-child>.info-section__text>p{
    max-width: 620px;
    padding-bottom: 20px;
}

.info-section>.row:last-child{
    padding-top: 22px;
}

.info-section__text-inner>div{
    /* margin-left: 30px; */
    display: flex;
    flex-direction: column;
    max-width: 426px;
    padding-bottom: 20px;
}

.info-section__text-inner>div>p:first-child{
    padding-bottom: 20px;
}

.info-section>.row:nth-child(2)>.info-section__text>p{
    max-width: 620px;
}

/* zeilkamp */
.pages .info-section h3{
    display: none;
}

.pages .info-section{
    margin-left: 25%;
}



@media(max-width: 1460px){

    .info-section__text-inner>div{
        padding-left: 0px;
        margin-left: 0;
    }

    .info-section{
        padding: 50px 34px 22px 54px;
    }

    .zeilschool-page .row:last-child .info-section__text{
        margin-left: 0;
    }   

    .zeilschool-page .row:last-child .info-section__text{
        margin-left: 0;
    }


    /* .pages .info-section{
        padding-left: 20px;
        
    }
    
    .pages .info-section .row{
        justify-content: center;
    } */
}


@media(max-width: 956px){
    
    .info-section__title{
        text-align: left;
        padding-bottom: 7px;
    }

    .info-section{
        padding-left: 23px;
    }
    

    .info-section__text p{
        font-size: 16px;
    }
    
    .info-section__text-inner>div>p:first-child {
        padding-bottom: 20px;
    }

    .info-section__title, .info-section__text{
        flex: 0 0 100%;
        max-width: 100%;
    }
    

}