
.youtube-container {
overflow: hidden;
width: 100%;
pointer-events: none;
}

.youtube-container iframe {
    width: 300%;
    height: 100vh;
    margin-left: -100%;
}

.start-section{
    position: relative;
}

.main-start-section__title{
    bottom: 85px;
    width: 1113px;
}

.start-section__title svg{
  width: 100%;
}

.main-start-section__title h2{

}

/* weather section */
.weather-section{
    padding-top: 106px;
    padding-bottom: 47px;
}

.weather-section__button{
    flex: 0 0 25%;
    max-width: 25%;
}

.weather-section__info{
    flex: 0 0 38%;
    max-width: 38%;
}

.weather-section__data{
    flex: 0 0 37%;
    max-width: 37%;
}

.weather-section__button-inner{
    padding-left: 54px;
}

.weather-section__button-inner a{
    display: block;
    background: #6C9DB7 0% 0% no-repeat padding-box;
    border-radius: 0px 100px 100px 100px;
    text-align: left;
    font: normal normal bold 41px/37px 'Roboto Condensed', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    height: 109px;
    line-height: 109px;
    width: 263px;
    padding-left: 54px;
    transition: .3s all ease-in-out;
}

.main.weather-section__button-inner a{
    background-color: #98BA7F ;
}

.weather-section__button-inner a:hover{
    background-color: #3c5969;
    transition: .3s all ease-in-out;
}

.main.weather-section__button-inner a:hover{
    background-color: #6a8456;
}

.weather-section__info li{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: var(--unnamed-color-818080);
    list-style: none;
    padding-bottom: 10px;
}

.weather-section__info li::before{
    content: '•';
    padding-right: 5.89px;
}

.weather-section__info ul{
    padding-bottom: 49px;
}

.weather-section__info a{
    color: #6E9DB6;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: .3s all ease-in-out;
}

.weather-section__info a:hover{
    color: #C45F53;
    transition: .3s all ease-in-out;
}

/* end weather section */

/* KOPJE section */

.main-title{
    color: var(--unnamed-color-888888);
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;

}

.kopje-title{
    padding-left: 54px;
}

.kopje__photo-item{
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    display: block;
    transition: .5s all ease-in-out;
}

.kopje__photo-item img{
    width: 100%;
    height: 100%;
}

.kopje__photo-item h4{
    position: absolute;
    bottom: 0;
    font: normal normal bold 34px/45px 'Roboto Condensed', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 225px;
    height: 50px;
    line-height: 50px;
    z-index: 5;
    transition: .5s all ease-in-out;
}

.kopje__title-right{
    right: 0;
    border-radius: 0px 0px 0px 40px;
    text-align: right;
    padding-right: 15px;
}

.kopje__title-left{
    left: 0;
    border-radius: 0px 0px 40px 0px;
    text-align: left;
    padding-left: 15px;
}

.kopje__title-1{
    background: #6C9DB7 0% 0% no-repeat padding-box;
}

.kopje__title-2{
    background: #396D84 0% 0% no-repeat padding-box;
}

.kopje__title-3{
    background: #98BA7F 0% 0% no-repeat padding-box;
}

.kopje__title-4{
    background: #6a8456;
}

.kopje__title-5{
    background: #C65F50 0% 0% no-repeat padding-box;
}

.kopje__title-6{
    background: #984539 0% 0% no-repeat padding-box;
}

.kopje__title-7{
    background: #F3C867 0% 0% no-repeat padding-box;
}

.kopje__title-8{
    background: #BC953C 0% 0% no-repeat padding-box;
}

.kopje__hover-item{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    visibility: hidden;
    opacity: 0;
    transition: .5s all ease-in-out;
}

.kopje__hover-item ul{
  padding: 0 15px 0 15px;
}

.kopje__hover-item>div{
    height: 100%;
    width: 100%;
    padding-top: 31%;
    padding-left: 56px;
}

.kopje__hover-item h6{
    text-align: left;
    font: normal normal normal 30px/38px Roboto Condensed;
    letter-spacing: 0px;
    color: #818080;
}

.kopje__hover-item li{
    font: normal normal normal 22px/32px Roboto Condensed;
    letter-spacing: 0px;
    color: #5D5D5D;
    overflow-wrap: anywhere;
}

.kopje__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.kopje__photo-item:hover .kopje__title-right{
    bottom: 75%;
    transition: .5s all ease-in-out;
}

.kopje__photo-item:hover .kopje__title-left{
    bottom: 75%;
    transition: .5s all ease-in-out;
}

.kopje__photo-item:hover .kopje__link{
    display: block;
}


.kopje__photo-item:hover .kopje__hover-item{
    visibility: visible;
    opacity: 1;
    transition: .5s all ease-in-out;
}
/* end KOPJE */

/* info section */

.info-section{
    padding-top: 97px;
    padding-bottom: 88px;
}

.info-section__title{
    flex: 0 0 25%;
    max-width: 25%;
    color: var(--unnamed-color-707070);
    font-family: Scarlet;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding-right: 26px;
    line-height: 1.4;
}

.info-section__text-inner{
    display: flex;
    flex-wrap: wrap;
}

.info-section__text-inner img{
   width: 240px;
   height: 240px;
   margin-top: 10px;
}

.info-section__text p{
    color: var(--unnamed-color-818080);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
}

.info-section>.row:first-child>.info-section__text>p{
    max-width: 1056px;
    padding-bottom: 20px;
}

.info-section__text-inner>div{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    max-width: 776px;
    padding-bottom: 20px;
}

.info-section__text-inner>div>p:first-child{
    padding-bottom: 20px;
}

.info-section>.row:nth-child(2)>.info-section__text>p{
    max-width: 1066px;
}

/* End info section */

/* news-info section */

.news-info{
    padding-top: 63px;
    border-top: 1px solid #707070;
    display: flex;
    padding-bottom: 117px;
    flex-wrap: wrap;
}

.news-info__left-block{
    flex: 0 0 50%;
    max-width: 50%;
}

.news-info__right-block{
    flex: 0 0 50%;
    max-width: 50%;
}

.news-info__insta-block{
    margin-left: 54px;
    padding-bottom: 73px;
    max-width: 541px;
}


.social-block__inner{
    margin-left: 54px;
    padding-top: 37px;
}

.news-info-title{
    padding-bottom: 20px;
}

.insta-block__images {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(50% + 54px);
}

.insta-block__images img {
    height: 100%;
}

.news-info__social-block::before{
    content: '';
    display: block;
    width: calc(100% - 150px);
    height: 1px;
    background-color: #707070;
}

.social-block__inner>a{
    margin: 0 42px 0 42px;
    height: fit-content;
}

.social-block__inst-facebook{
    display: flex;
    padding-top: 20px;
}

.social-block__inst-facebook a{
    display: flex;
    align-items: end;
    width: fit-content;
}

.social-block__inst-facebook a:first-child{
    margin-right: 75px;
}

.social-block__inst-facebook a:first-child img{
    height: 85px;
}

.social-block__inst-facebook a:last-child img{
    height: 78px;
}

.social-block__inner{
    display: flex;
}

.news-info__news-block::after{
    content: '';
    display: block;
    width: calc(100% + 20px);
    height: 1px;
    background-color: #707070;
    margin-left: -54px;
}

.news-block__post{
    display: flex;
    padding-bottom: 46px;
}

.news-block__post img{
    margin-right: 30px;
}

.news-block__post div{
    display: flex;
    flex-direction: column;
}

.news-block__post a{
    color: var(--unnamed-color-707070);
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.1;
    text-decoration: none;
}

.news-block__post>div>a:first-child{
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 35px;
}

.news-block__post:first-child>div>a:last-child{
    max-width: 458px;
}

.news-block__post:last-child>div>a:last-child{
    max-width: 603px;
}

.news-info__agenda-block{
    padding-top: 60px;
}

.agenda__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.agenda__item{
    display: flex;
    padding-bottom: 40px;
    text-decoration:none;
}

.agenda__data{
    background: #98BA7F 0% 0% no-repeat padding-box;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 28px;
    flex-shrink: 0;
}

.agenda__data h6{
    color: var(--unnamed-color-ffffff);
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.agenda__data h6:first-child{
    font-size: 35px;
    line-height: 30px;
    font-weight: 700;
    padding-bottom: 4px;
}

.agenda__data h6:last-child{
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    text-transform: lowercase;
}

.agenda__data img{
    height: 100%;
}

.agenda__text h4{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--unnamed-color-818080);
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 20px;
}

.agenda__text h6{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--unnamed-color-818080);
    font-weight: 400;
    font-size: 30px;
}

.md-hidden, .hidden-600{
    display: none;
}

.news-info__social-block .color h4{
    color: #98BA7F;
}

.newsletter-form__field-wrapper input{
    max-width: 509px;
    width: 100%;
}



@media(max-width: 1815px){
    .insta-block__images{
        max-width: 75%;
    }
}

@media(max-width: 1630px){
    .news-info__left-block>div:first-child{
        flex-direction: column;
    }

    .news-info__social-netw{
        margin-left: 54px;
        margin-bottom: 30px;
    }
}

@media (max-width: 1500px) {
    .footer__main .row{
        margin-right: 20px;
    }
}

@media(max-width: 1460px){
    .info-section__title{
        text-align: left;
        padding-bottom: 7px;
    }

    .info-section{
        padding: 50px 34px 22px 54px;
    }

    .weather-section__button, .weather-section__info{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .weather-section__data{
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather-section__button{
        padding-bottom: 30px;
    }
    
    .weather-section__info a{
        display: none;
    }
}

@media(max-width: 1400px){

    .insta-block__images{
        max-width: 100%;
    }
    
    .main-start-section__title{
        width: 800px;
    }
}

@media(max-width: 1340px){
    .kopje__hover-item li {
        font-size: 16px;
        line-height: 1.3;
    }
}

@media(max-width: 1300px){
    .news-info__left-block, .news-info__right-block{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .news-info__social-netw{
        display: none;
    }

    .news-info__insta-block{
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }

    .news-info__insta-block .news-info-title{
        margin-left: 54px;
    }
    
    .insta-block__images{
        width: 100%;
    }

    .insta-block__images a{
        display: block;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .insta-block__images img{
        width: 100%;
    }

    .news-info__social-block::before, .news-info__news-block::after{
        width: 100%;
        margin: 0;
    }

    .sm-hidden{
        display: none;
    }

    .md-hidden{
        display: block;
    }

    .newsletter-main{
        display: none;
    }

    .news-info__news-block h3, .news-info__agenda-block h3, .news-block__inner, .agenda__inner{
        padding-left: 54px;
    }

    .social-block__inner .main-title{
        padding-bottom: 35px;
    }

    .social-block__inner>div:first-child{
        margin-right: 100px;
    }

    .social-block__inner>div:first-child img {
        margin-right: 0;
        margin-left: 10px;
        width: 82px;
    }

    .footer__header::after{
        margin: 0;
    }

    .social-block__inst-facebook{
        padding-top: 0;
    }

    .footer__main .row{
        margin-right: 0;
    }

    .weather-section{
        padding: 106px 20px 47px 0
    }

}


@media(max-width: 1131px)  {

    .info-section__text-inner>div{
        margin-left: 0;
        padding-top: 20px;
        padding-left: 20px;
    }
}

@media(max-width: 1103px){
    .info-section__text-inner>div{
        padding-left: 0px;
    }
}

@media(max-width: 956px){
    .header__menu{
        display: none;
    }

    .header__right-nav{
        display: none;
    }

    .burger-menu{
        display: block;
    }

    .start-section__title{
        width: 100%;
        padding: 0 100px;
        bottom: 20px;
    }

     .weather-section__data{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .weather-section{
        padding-top: 42px;
    }

    .weather-section__info{
        padding-left: 34px;
    }

    .kopje-title{
        display: none;
    }

    .weather-section__info a{
        display: none;
    }

    .weather-section__info{
        padding-bottom: 28px;
    }

    .weather-section__data{
        padding-bottom: 30px;
    }

    .kopje__photo-item{
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: -12px;
    }

    .kopje__photo-item h4 {
        bottom: 12px
    }

    .kopje__photo-item:hover .kopje__title-left {
        bottom: 75%;
    }

    .main.weather-section__button-inner a{
        width: 116px;
        height: 48px;
        font-size: 23px;
        line-height: 48px;
        padding-left: 10px;
    }

    .kopje__photo-item-bot-0 h4{
        bottom: 0;
    }
    
    .info-section{
        padding-left: 23px;
    }
    

    .info-section__text p{
        font-size: 16px;
    }
    
    .info-section__text-inner>div>p:first-child {
        padding-bottom: 20px;
    }

    .info-section .row:nth-child(2){
        display: none;
    }

    .weather-section__button{
        flex: 0 0 25%;
        max-width: 25%;
    }

    .weather-section__info{
        flex: 0 0 75%; 
        max-width: 75%;
    }

}

@media (max-width: 768px) {
    
    .weather-section__button-inner{
        padding-left: 34px;
    }
}

@media(max-width: 600px){

    .kopje__photo-item h4{
        width: calc(100% - 34px);
        font-size: 30px;
    }

    .weather-section__info, .weather-section__data{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .news-info-title{
        font-size: 40px;
    }

    .news-info{
        border: none;
        padding-top: 0px;
        padding-bottom: 70px;
    }

    .news-info__insta-block .news-info-title{
        margin-left: 15px;
        color: var(--unnamed-color-bbbfc1);
        font-size: 40px;
    }

    .news-info__insta-block{
        padding-bottom: 27px;
    }

    .news-info__news-block h3, .news-block__inner, .news-info__agenda-block h3, .agenda__inner{
        padding-left: 0px;
    }

    .news-info__right-block{
        padding: 0 15px 0 15px;
    }

    .news-block__post:last-child{
        display: none;
    }

    .agenda__item{
        display: none;
    }

    .hidden-600{
        display: block;
    }

    .news-block__post>div>a:first-child{
        font-size: 16px;
        padding-bottom: 20px;
        line-height: 1.3;
    }

    .news-block__post:first-child>div>a:last-child{
        font-size: 14px;
    }

    .social-block__inner{
        margin-left: 0;
    }

    .social-block__inner .main-title{
        font-size: 40px;
    }

    .social-block__inner{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .social-block__inner>div:first-child{
        margin-right: 0px;
    }
    
    .agenda-item-sm{
        display: flex;
    }

    .agenda__text h4{
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 30px;
        padding-top: 5px;
    }

    .agenda__text h4 span{
        font-size: 14px;
        font-weight: 400;
        text-transform: lowercase;
    }

    .agenda__text h6{
        font-size: 16px;
    }

    .news-block__post, .agenda-item-sm{
        padding-bottom: 20px;
    }

    .social-block__inner{
        padding-top: 20px;
    }

    .weather-section__info{
        padding-right: 20px;
    }

    .weather-section__info li{
        font-size: 25px;
    }

    .start-section__title{
        padding: 0 30px;
    }

    .youtube-container iframe {
        height: 395px !important;
    }

    .social-block__inst-facebook a:first-child {
        margin-right: 34px;
    }

    #instagram-feed-box{
        max-height: 180px;
    }
}

@media(max-width: 450px){
    .kopje__photo-item h4{
        font-size: 18px;
        height: 40px;
        line-height: 40px;
    }

    .weather-section__info li{
        font-size: 20px;
    }

    .weather-section__day, .weather-section__morning, .weather-section__wind, .weather-section__wind-image{
        gap: 7px;
    }
   
}