 /* weather section */
 .weather-section{
    padding-top: 106px;
    padding-bottom: 47px;
}

.weather-section__button{
    flex: 0 0 25%;
    max-width: 25%;
}

.weather-info__wraper{
    flex: 0 0 75%;
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 49px;
}

.weather-section__info{
    flex: 0 0 50%;
    max-width: 50%;
}

.weather-section__data{
    flex: 0 0 50%;
    max-width: 50%;
}

.weather-section__button-inner{
    padding-left: 85px;
}

.weather-section__button-inner a{
    display: flex;
    padding-left: 24px;
    align-items: center;
    background: #6C9DB7 0% 0% no-repeat padding-box;
    border-radius: 0px 100px 100px 100px;
    text-align: left;
    font: normal normal bold 27px 'Roboto Condensed', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    height: 64px;
    width: 155px;
    transition: .3s all ease-in-out;
}

.main.weather-section__button-inner a{
    background-color: #98BA7F ;
}

.weather-section__button-inner a:hover{
    background-color: #3c5969;
    transition: .3s all ease-in-out;
}

.main.weather-section__button-inner a:hover{
    background-color: #6a8456;
}

.weather-section__info p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: var(--unnamed-color-818080);
    list-style: none;
    line-height: 25px;
}


.weather-section__info a:hover{
    color: #C45F53;
    transition: .3s all ease-in-out;
}

.main-page .weather-section{
    padding-bottom: 60px;
}

.main-page .weather-info__wraper{
    padding-bottom: 0;
}

.zeilschool-page .weather-section{
    padding-top: 30px;
}

.zeilschool-page .weather-section__button-inner{
    padding-top: 30px;
}

.zeilschool-page .weather-section__data{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.zeilschool-page .weather-section__info a{
    display: none;
}

.button-section.weather-section{
    padding-top: 20px;
}

.button-section.weather-section .weather-section__info{
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 35px;
    flex-direction: column;
    display: flex;
}


.button-section.weather-section .weather-section__info p{
    max-width: 1056px;
    padding-bottom: 0;
}

/* slapen and b & b */
.slapen-page .button-section .row, .b-b-page .button-section .row{
    padding-bottom: 20px;
    border-bottom: 1px solid #707070 ;
}

.haven-page .button-section.weather-section .weather-section__info, .slapen-page .button-section.weather-section .weather-section__info, .b-b-page .button-section.weather-section .weather-section__info{
    padding-top: 0;
}

.events-page .weather-section__button-inner a{
    line-height: 100%;
    display: flex;
    align-items: center;
}

.events-page .weather-section__button-inner a:first-child{
    margin-bottom: 34px;
}

.events-page .button-section.weather-section .weather-section__info{
    padding-top: 60px;
}

.haven-page .weather-section__button-inner a{
    max-width: fit-content;
    padding-right: 35px;
    line-height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.collection .weather-section{
    padding: 35px 0 0 0;
}

.collection .weather-section .row{
    padding-bottom: 125px;
    border-bottom: 1px solid #3c5969;
}

.collection .weather-section__info{
    display: flex;
    align-items: center;
    flex: 0 0 75%;
    max-width: 75%;
}


@media(max-width: 1460px){
    .weather-section__button{
        flex: 0 0 30%;
        max-width: 30%;
    }

    .weather-info__wraper{
        flex: 0 0 65%;
        max-width: 65%;
        justify-content: start;
    }

    .weather-section__data{
        /* flex: 0 0 100%;
        max-width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .weather-section__info{
        /* flex: 0 0 100%;
        max-width: 100%; */
        display: flex;
        justify-content: start;
    }
    .collection .weather-section__info{
        flex: 0 0 65%;
        max-width: 65%;
        align-items: center;
    }

    .weather-section__info ul{
        width: 100%;
    }

    .weather-section__button{
        padding-bottom: 30px;
    }

    .collection .weather-section__button{
        padding-bottom: 0;
    }
    
    .weather-section__info a{
        display: none;
    }
}

@media(max-width: 1300px){

    .weather-section{
        padding: 106px 20px 47px 0
    }

}

@media(max-width: 956px){

    .weather-section__button-inner a {
        width: 116px;
        height: 48px;
        font-size: 23px;
        line-height: 48px;
        padding-left: 10px;
    } 

     .weather-section__data{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .weather-section{
        padding-top: 42px;
    }

    .weather-section__info{
        padding-left: 0;
        padding-bottom: 28px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .weather-section__info a{
        display: none;
    }


    .weather-section__data{
        padding-bottom: 30px;
        padding-left: 0;
    }

    .main.weather-section__button-inner a{
        width: 116px;
        height: 48px;
        font-size: 23px;
        line-height: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    .haven-page .main.weather-section__button-inner a{
        font-size: 20px;
        padding-left: 18px;
    }

    /* .weather-section__button{
        flex: 0 0 20%;
        max-width: 20%;
    } */

    .weather-info__wraper{
        flex: 0 0 70%; 
        max-width: 70%;
    }

}

@media (max-width: 850px) {
    .collection .weather-section__info{
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 30px;
        padding-left: 54px;
    }

    .collection .weather-section .row{
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .weather-section{
        padding-top: 20px;
    }
        
    .weather-section__button-inner{
        padding-left: 34px;
    }

    .weather-info__wraper{
        flex: 0 0 100%; 
        max-width: 100%;
    }

    div.weather-section__data{
        padding-left: 34px;
    }

    .weather-section__info ul{
        width: fit-content;
    }

    .weather-section__info{
        padding-left: 34px;
    }
}

@media(max-width: 600px){
    .weather-section__info, .weather-section__data{
        flex: 0 0 100%;
        max-width: 100%;
    }


    .button-section.weather-section .weather-section__info{
        padding-right: 20px;
        padding-top: 0;
    }

    .weather-section__info li{
        font-size: 25px;
    }

    /* .weather-section__info p{
        font-size: 18px;
    } */
}

@media(max-width: 550px){
    .start-section__title h1{
      font-size: 46px;
    }
}

@media(max-width: 450px){
    .weather-section__info li{
        font-size: 20px;
    }

    .weather-section__day, .weather-section__morning, .weather-section__wind, .weather-section__wind-image{
        gap: 7px;
    }

    .weather-section {
        padding: 42px 0px 47px 0;
    }
   
}